#chat{
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.7);

    position: fixed;
    top: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    visibility: hidden;
    
    z-index: 999;
}

#chat.active{
    opacity: 1;
    visibility: visible;
}

.chat-buttons#open-button{
    visibility: hidden;
    font-size: 0;
  }
  
  .chat-buttons#open-button.active{
    visibility: visible;
    position: fixed;
    top: 0;
    
    margin-left: 4.7rem;
    padding: .5rem 0;
    
    font-size: 1rem;
    background-color: #Ed7e78;
    color: #fff;
    
    width: 28%;
    opacity: 0.8;
  }