#select-area{
    display: flex;
    align-items: center;
}

.space-select input{
    text-align: center;
    font-size: 6rem;

    border: 2px solid black;

    margin-top: 1.5rem;

    width: 55%;
}

.space-select input:hover{
    cursor: pointer;
    background-color: rgba(0, 153, 255, 0.76);
}

.space-select input:active{
    background-color: rgb(17, 0, 255);
    border: 0% black solid;
}

.name-input{
    font-size: 2rem;
    text-align: center;

    margin-top: 8px;

    width: 65%;
}

/*######################################################*/


#chat-content{
    width: 50%;
    height: 70%;
    padding: 1rem;
    background-color: gray;
    border-radius: 10%;
}

#chat-screen{
    height: 80%;
    padding: 1rem;
    border-radius: 5%;
    background-color: whitesmoke;
}

#chat-screen.screen1{
    padding-top: 17rem;
}

#chat-screen.screen2{
    padding-top: 15rem;
}

#chat-screen.screen3{
    padding-top: 13rem;
}

#chat-screen.screen4{
    padding-top: 11rem;
}

#chat-screen.screen5{
    padding-top: 9rem;
}

#chat-screen.screen6{
    padding-top: 7rem;
}

#chat-screen.screen7{
    padding-top: 5rem;
}

#chat-screen.screen8{
    padding-top: 3rem;
}

#chat-screen.screen9{
    padding-top: 1rem;
}

.message{
    color: white;
    border: 1px solid black;
    border-radius: 8%;
    margin-top: 0.5rem;
}

.message.player{
    background-color: rgb(2, 189, 2);
}

.message.harry{
    background-color: blueviolet;
}

#message-enter{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0 0.5rem 4rem;
}

#message-camp{
    border: 0px;
    margin-top: 3px;
    font-size: 1.2rem;
    width: 60%;
}

#message-camp:active{
    border: 0px solid black;
}

.chat-buttons#enter-button{
    font-size: 1.7rem;
    margin-top: 4px;
    width: 5.7rem;

    background-color: white;
    border: 0px solid black
}

.chat-buttons#enter-button:hover{
    opacity: 0.8;
}

.chat-buttons#enter-button:active{
    color: white;
    background-color: green;
    opacity: 1;
}

.chat-buttons#close-chat-button{
    font-size: 1.5rem;

    width: 30%;
    margin-left: 14rem;
    background-color: white;
}

.chat-buttons#close-chat-button:hover{
    opacity: 0.8;
}

.chat-buttons#close-chat-button:active{
    background-color: blue;
    color:white;
}

/*######################################################*/

@media(max-width: 720px){
    #title{
        font-size: 2.5rem;
    }

    #space-buttons{
        width: 90vw;
    }
    
    .button{
        background-color: yellow;
        
        width: 125%;

        margin: 7rem 0%;
        
        padding: 1rem;
    
        border-radius: 15%;
        
        font-size: 1.8rem;
    }
    
/*################################################*/

    a#change-name-button{
        width: 45%;
    }

    #principal-area{
        display: block;
    }

    #score{
        display: flex;
        align-items: center;
        width: 100%;
        margin-top: 20px;
        margin-bottom: 0%;
    }

    input.score-name, input.score-point{
        margin-bottom: 2px;
    
        width: 85%;
        height: 2rem;
    
        font-size: 1.4rem;
    }

    #table{
        margin: 1rem 0px;
        width: 100%;
    }
    
    #table-content{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        
        width: 100%;
        margin-left: 1%;
    }
    
    #modal-win .modal-content{
        width: 100%;
        height: auto;
    }

    #modal-win .modal-content a#close-button{
        margin-bottom: 20px;
    }
    
    #modal-selection .modal-content, #modal-name-selection .modal-content{
        width: auto
    }
  
    #chat{
      width:100%;
    }
  
    #message-enter{
      padding-left: .5rem;
    }
  
    #message-camp{
      width:69%;
      padding: 0.28rem;
    }
  
    .chat-buttons#enter-button{
      margin-bottom: 0.05rem;
      border: 1px solid black;
    }
  
    .chat-buttons#close-chat-button{
      margin-left: 7.5rem
    }
    
    #chat{
      width: 100%;
      height: 100%;

      background-color: rgba(0, 0, 0, 0.7);

      position: fixed;
      top: 0;

      display: flex;
      align-items: center;
      justify-content: center;

      opacity: 0;
      visibility: hidden;
    
      z-index: 999;
  }

  #chat.active{
      opacity: 1;
      visibility: visible;
    }
}